<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a [routerLink]="['/index']" onclick="return false;">
                <img src="/assets/img/CineXtremeSinLogo.png" alt="" title="" style="width: 150px;" />
            </a>
            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="#about" onclick="return false;">Precios</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>