<div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark " style="background: #030303">
        <a class="navbar-brand" style="font-size: 1.2cm; color: #1F618B;" href="index.html">
            Cinextreme
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active space-nav">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorías
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animate slideIn categorias" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="color: #337ab7" href="">Acción</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Animación</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Aventura</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Bélico</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Carreras</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Ciencia Ficción</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Comedia</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Crimen</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Deporte</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Drama</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Familiar</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Fantasia</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Horror</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Infantil</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Intriga</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Misterio</a>
                        <a class="dropdown-item" style="color: #337ab7" href="">Terror</a>
                    </div>
                </li>
                <li class="nav-item active space-nav">
                    <a class="nav-link" href="">
                        Series
                    </a>
                </li>
                <li class="nav-item active space-nav">
                    <a class="nav-link" href="">
                        Últimos extrenos
                    </a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <div class=" form-group inner-addon left-addon space-nav">
                        <i class="glyphicon glyphicon-search"></i>
                        <input class="form-control mr-sm-2 search" type="search" placeholder="Buscar película" aria-label="Buscar película">
                    </div>
                </form>

                <div class=" form-inline my-2 my-lg-0 wrapper">
                    <a class="button" href="">Soporte</a>
                </div>
            </ul>
        </div>
    </nav>

    <div class="row">

        <div class="offset-lg-2 offset-md-2 offset-sm-1 col-md-8 col-lg-12tr">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe style="position: absolute; z-index: 1;" id="video" src="https://www.youtube.com/embed/aVfxMcGrKm4?autoplay=1&controls=1&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-lg-12" style="position: absolute; width: 100%;">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="">
                        <img class="img-responsive" src="assets/img/bk_sala_de_cine.jpg" style="width: 5000px;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>