<!--==========================
  Header
  ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a [routerLink]="['/index']" onclick="return false;">
                <img src="/assets/img/CineXtremeSinLogo.png" alt="" title="" style="width: 150px;" />
            </a>
            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a [routerLink]="['/index']" onclick="return false;">Crear Cuenta</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->

<!--==========================
    Hero Section
  ============================-->
<section id="hero">
    <div class="hero-container">
        <h1>Bienvenido a CineXtreme</h1>
        <h2>Disfruta de las últimas películas de estreno sin cortes, si publicidad, full calidad</h2>

        <div class="row d-flex justify-content-center">
            <a routerLink="/registro" class="btn-get-started">¿Tienes Código de demostración?</a>
            <a routerLink="/login" class="btn-get-started" routerLinkActive="active">Inicia Sesión</a>

        </div>
    </div>
</section>
<!-- #hero -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
            <div class="row about-container">



                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-4">Precios</h1>
                    <p class="lead">Escoje el plan que se adapte a tu necesidad </p>
                </div>

                <app-pago tipo="index"></app-pago>

            </div>
        </div>
    </section>
    <!-- #about -->



    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Contacto</h3>
                <p class="section-description">Si tienes preguntas nos dejar un mensaje, nosotros te responderemos los más rápido posible </p>
            </div>
        </div>

        <div class="container wow fadeInUp mt-5">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>Bogotá<br>Colombia</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>cinextreme@gmail.com</p>
                        </div>

                        <div>
                            <i class="fa fa-whatsapp"></i>
                            <p>+57 3016354417</p>
                        </div>
                    </div>

                    <!--<div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>-->

                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Tu Email" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje"></textarea>
                            </div>
                            <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- #contact -->

</main>

<!--==========================
    Footer
  ============================-->

<app-footer></app-footer>
<!-- #footer -->